[[source]]
name = "tsinghua"
url = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple/"
verify_ssl = true

[dev-packages]
django = "*"
pillow = "*"
pytz = "*"
setuptools = "*"
sqlparse = "*"
pip = "*"
wheel = "*"

[packages]
django = "*"
pillow = "*"
pytz = "*"
setuptools = "*"
sqlparse = "*"
pip = "*"
wheel = "*"
django-simpleui = "*"
pymysql = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"
