{% extends "layout.html" %}
{% load static %}
{% load my_filter_tag %}
{% load i18n %}

{% block header %}
    {% include "header.html" with title="社会责任" %}
    {% block style_tag %}
    <style>
    </style>
    {% endblock %}
{% endblock %}

{% comment %}{% block banner %}
<!--<div class="hero-slider">
    <div class="single-slide" style="background-image: url({% static 'images/slide1.jpg' %})">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="slide-content">
                            <h2>做美食，品美食，享美食我们更专业</h2>
                            <p>Do food, taste food, enjoy food we more professional.</p>
                            &lt;!&ndash;<div class="slide-btn">
                                <a href="#" class="button">Learn More</a>
                                <a href="#" class="button-2">Live Preview</a>
                            </div>&ndash;&gt;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="page-title sp" style="background-image: url({% static 'images/banner_2.jpg' %});height: 300px;">
    <div class="container text-center">
        <h3 class="banner-h3">
            RESPONSIBILITY
        </h3>
        <h4 class="banner-h4">
            <hr class="hr-1">
            <span>社会责任</span>
            <hr class="hr-1">
        </h4>
    </div>
</div>
{% endblock %}{% endcomment %}

{% block content %}
<div class="faq-area-2 sp bg2">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% for item in resp_list %}
                <div class="row" style="padding: 25px 10px;background-color: #99cc67; margin-bottom: 10px;">
                    <div class="col-md-4">
                        <div class="about-img">
                            <a href="/resp_detail/{{item.id}}"><img src="/uploads/{{item.cover_image_url}}" alt="{{item.title}}"></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="about-content" style="margin-top:0;">
                            <h3 style="margin: 5px 0;"><a href="/resp_detail/{{item.id}}">{{item.title|truncate_point:'12'}}</a></h3>
                            <div>{{item.brief|truncate_point:'180'}}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% include "pager.html" with page_list=resp_list %}
            </div>
            <div class="col-md-3">
                <div class="faq-sidebar-wrap">
                    <h3>{% trans "最新动态" %}</h3>
                    <!--<ul class="faq-sidebar">
                        {% for item in resp_lasted %}
                        <li><a href="/resp_detail/{{item.id}}"><span>{{ forloop.counter }}.</span>&nbsp;{{item.title}}</a></li>
                        {% endfor %}
                    </ul>-->

                    {% for item in resp_lasted %}
                    <div class="product-commend">
                        <a href="/resp_detail/{{item.id}}">
                            <img src="/uploads/{{ item.cover_image_url }}" alt="{{item.title}}" title="{{item.title}}">
                        </a>
                        <div class="product-commend-title">{{item.title|truncate_point:'12'}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include "footer.html" with footer="footer" %}
    {% block script_tag %}
    <script>
        $(function(){
        });
    </script>
    {% endblock %}
{% endblock %}
