{% load staticfiles %}
{% load i18n %}

<!--底部div-->
<footer>
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="justify-align-items">
                        {% if sysconfig.logo_bottom %}
                            <img src="/uploads/{{ sysconfig.logo_bottom }}" style="width:270px;">
                        {% else %}
                            <img src="{% static 'images/logo_nav.png' %}" style="width:270px;">
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 footer_widget">
                    <div class="text-center">
                        <h4>{% trans sysconfig.site_company %}</h4>
                        <ul>
                            <li>
                                {% if sysconfig.email %}
                                    <span>{% trans "邮箱" %}：</span>
                                    <span>{{ sysconfig.email }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                {% endif %}
                            </li>
                            <li>
                                {% if sysconfig.address %}
                                    <span>{% trans "地址" %}：</span>
                                    <span>{% trans sysconfig.address %}</span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="justify-align-items">
                        <div class="">
                            {% if sysconfig.qrcode %}
                                <img src="/uploads/{{ sysconfig.qrcode }}" style="width: 105px;" class="pull-left" alt="">
                            {% else %}
                                <img src="{% static 'images/qrcode.jpg' %}" style="width: 105px;" class="pull-left" alt="">
                            {% endif %}
                            <div class="pull-left" style="margin-left: 20px;">
                                <h4 style="color: #68ab22; font-weight: bold; font-size:30px; margin-top:0; margin-bottom:18px;">CONTACT</h4>
                                <h4 style="margin: 0; padding: 0;">
                                    <i class="icon">
                                        <i class="glyphicon glyphicon-phone-alt"></i>
                                    </i>&nbsp;&nbsp;{% trans "商务合作" %}
                                </h4>
                                <i><h3 style="margin: 10px 0; padding: 0;">{{ sysconfig.telephone }}</h3></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-txt">
                        {% trans "陕ICP备" %}17020623-1 Copyright2020 {% trans "西安秦食皇食品有限公司版权所有" %}
                    </div>
                </div>
                <!--<div class="col-lg-6 text-right">
                    <div class="footer-nav">
                        <a href="#">Home</a>
                        <a href="#">Portfolio</a>
                        <a href="#">Pages</a>
                        <a href="#">Shortcode</a>
                        <a href="#">Blog</a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</footer>
</div>


<div class="fixed-box">
    <div id="gotoTop">
        <span class="icon">
            <i class="glyphicon glyphicon-open"></i>
        </span>
    </div>
    <!--<div>
        <div id="i18nZh" class="fixed-box-content">中文</div>
    </div>
    <div>
        <div id="i18nEn" class="fixed-box-content">英文</div>
    </div>
    <div>
        <div class="fixed-box-content">
            <a href="https://shop108037822.taobao.com/" target="_blank">在线<br>商城</a>
        </div>
    </div>-->
    <div>
        <div class="fixed-box-content">
            <a href="https://wpa.qq.com/msgrd?v=3&uin=3520989809&Site=www.sungoto.com&Menu=yes" target="_blank">{% trans "在线<br>客服" %}</a>
        </div>
    </div>
    <div class="fixed-box-left-show">
        <span class="icon">
            <i class="glyphicon glyphicon-earphone"></i>
        </span>
        <div class="fixed-box-content-title">029-8918 9518</div>
    </div>
    <div class="fixed-box-left-show">
        <span class="icon">
            <i class="glyphicon glyphicon-qrcode"></i>
        </span>
        <div class="fixed-box-content-title fixed-box-content-qrcode">
            <img src="{% static 'images/qrcode.jpg' %}"><br>
        </div>
    </div>
</div>

<div class="fixed-box-language">

</div>


<script src="{% static 'plugins/jquery/jquery-3.1.0.min.js' %}"></script>
<!--<script src="{% static 'plugins/jquery/jquery.i18n.properties.min.js' %}"></script>
<script src="{% static 'js/language.js' %}"></script>-->
<script src="{% static 'plugins/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'plugins/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/vendor/popper.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/i18n/defaults-zh_CN.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/i18n/defaults-en_US.min.js"></script>-->
<script src="{% static 'plugins/layui/layui.all.js' %}"></script>
<script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.barfiller.js' %}"></script>
<script src="{% static 'js/vendor/loopcounter.js' %}"></script>
<script src="{% static 'js/vendor/slicknav.min.js' %}"></script>
<script src="{% static 'js/active.js' %}"></script>
<script src="http://api.html5media.info/1.1.8/html5media.min.js"></script>

<script>
    $(function(){
        //公共footer
        <!--alert('I am footer.html的js');-->
        //$('#menu').on('click', 'ul li', function(){
            //移除所有li上的class=current-menu-item的样式
            //$('#menu').find('ul').find('li').each(function(){
            //    $(this).removeClass('current-menu-item');
            //});

            //$(this).addClass('current-menu-item');
        //});


        $('#language').selectpicker();
        //切换语言
        $('.change_language').on('change', function(e){
            e.preventDefault();
            $('#change_language_form').submit();
            return false;
        });

        //移除所有li上的class=current-menu-item的样式
        //$('#menu').find('ul').find('li').each(function(){
        //    $(this).removeClass('current-menu-item');
        //});


        /*执行I18n翻译*/
        //execI18n();
        /*将语言选择默认选中缓存中的值*/
        // $("#language option[value=" + i18nLanguage + "]").attr("selected", true);

        /* 选择语言 */
        /*$("#i18nZh").on('click', function(e) {
            /!*var language = i18nLanguage;
            console.log(language);
            getCookie("userLanguage", language, {
                expires: 30,
                path:'/'
            });

            if(i18nLanguage == 'zh-CN'){
                //选择了中文
                i18nLanguage = 'en';
            }else{
                //选择了英文
                i18nLanguage = 'zh-CN';
            }*!/

            e.preventDefault();
            $.post('/i18n/setlang/', {
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                language: 'zh-hans'
            }, function(data){
                location.reload();
                return false;
            });
        });

        $("#i18nEn").on('click', function() {
            /!*var language = i18nLanguage;
            console.log(language);
            getCookie("userLanguage", language, {
                expires: 30,
                path:'/'
            });

            if(i18nLanguage == 'zh-CN'){
                //选择了中文
                i18nLanguage = 'en';
            }else{
                //选择了英文
                i18nLanguage = 'zh-CN';
            }*!/

            e.preventDefault();
            $.post('/i18n/setlang/', {
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                language: 'en'
            }, function(data){
                location.reload();
                return false;
            });

        });*/


        //头部菜单导航栏选中时候的显示样式
        $('#menu').find('ul').find('li:eq({{index}})').addClass('current-menu-item');


        /*页面右侧悬浮固定功能 start*/
        var topDistance = 600;//gotoTop距浏览器顶端的距离，这个距离可以根据你的需求修改
        var showDistance = 1;//距离浏览器顶端多少距离开始显示gotoTop按钮，这个距离也可以修改，但不能超过浏览器默认宽度，为了兼容不同分辨率的浏览器，我建议在这里设置值为1；
        var thisTop = $(window).scrollTop() + topDistance;

        //定义一个变量，方便后面加入在html元素标签中插入这个gotoTop按钮的标签
        var gotoTopButton = '<div id="gotoTop"><span class="icon"><i class="glyphicon glyphicon-open"></i></span></div>';
        //在container的div里插入我们前面定义好的html标签元素
        //$(".fixed-box").append(gotoTopButton);
        //$("#gotoTop").css("top",thisTop);//设置gotoTop按钮top的css属性和属性值


        if($(window).scrollTop() < showDistance) {
            $("#gotoTop").hide();//滚动条距离顶端的距离小于showDistance是隐藏gotoTop按钮
        }

        $(window).scroll(function(){
            thisTop = $(this).scrollTop() + topDistance;
            $("#gotoTop").css("top", thisTop);//修改gotoTop按钮的top距离
            if($(this).scrollTop() < showDistance) {//当window的垂直滚动条距顶部距离小于showDistance设置的值 时
                $("#gotoTop").fadeOut("fast");//gotoTop按钮淡出
            } else {
                $("#gotoTop").fadeIn("fast");//反之按钮淡入
            }
        });

        //绑定click事件
        $('#gotoTop').on('click', function(){
            //点击go to top按钮时，以800的速度回到顶部，这里的800可以根据你的需求修改
            $('html,body').animate({scrollTop:0}, 'slow');
            <!--$('html,body').animate({scrollTop:0}, '500');-->
            return false;
        });
        /*页面右侧悬浮固定功能 end*/


        //鼠标移入移出事件
        $('.fixed-box-left-show').hover(function() {
            // 鼠标移入时添加hover类
            $(this).children('.fixed-box-content-title').css('display', 'block');
        }, function() {
            // 鼠标移出时移出hover类
            $(this).children('.fixed-box-content-title').css('display', 'none');
        });

    });
</script>

{% block script_tag %}
{% endblock %}

</body>
</html>