{% extends "layout-index.html" %}
{% load staticfiles %}
{% load i18n %}
{% load my_filter_tag %}

{% block header %}
    {% include "header-index.html" with title="首页" %}
    {% block style_tag %}
    <style>
        .full-video{
            z-index: 9999;
            position: fixed;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            object-fit: fill;
            width: auto;
            height: auto;
            /*-ms-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            background: url(../images/cover.jpg) no-repeat;*/
            -webkit-background-size: cover;
            background-size: cover;
        }

        .full-video-close{
            position: absolute;
            top: 10px;
            right: 20px;
            width: 26px;
            height: 26px;
            cursor: pointer;
            background-color: #fbdf50;
            background-image: url({% static 'images/close.png' %});
            background-size: cover;
            background-position: center left;
            z-index: 10000;
        }
        .full-video-close:hover{
            background-position: -54px 0;
        }
    </style>
    {% endblock %}
{% endblock %}


{% block content %}
<div class="video-box full-video hidden animated">
    <div class="full-video-close"></div>
    <video id="video" class="full-video" type="video/mp4" loop preload="auto" controls x5-video-player-type="h5"
           x5-video-orientation="landscape" poster="{% static 'images/pro_3.jpg' %}">
        <!--<source src="{% static 'images/video_01.mp4' %}">-->
    </video>
</div>

<header>
    <div class="container">
        <div class="row" style="display: flex; vertical-align: middle; justify-items: center; align-items: center;">
            <div class="col-6 col-sm-2 logo-column">
                <a href="/king/index" class="logo">
                    <img src="{% static 'images/logo_nav.png' %}" alt="logo">
                </a>
            </div>
            <div class="col-6 col-sm-9 nav-column clearfix">
                <nav id="menu" class="d-none d-lg-block">
                    <ul>
                        {% for item in nav_list %}
                            {% if item.children.all %}
                                <li class="has-child">
                                    <a href="{{ item.url }}">{% trans item.name %}</a>
                                    <ul class="sub-menu">
                                        {% for child in item.children.all %}
                                            <li><a href="{{ child.url }}">{% trans child.name %}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                {% if item.is_root %}
                                    <li><a href="{{ item.url }}">{% trans item.name %}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="col-6 col-sm-1 nav-column clearfix">
                <div class="">
                    <form action="/i18n/setlang/" method="post" id="change_language_form" class="language-form">
                        {% csrf_token %}
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_current_language_bidi as LANGUAGE_BIDI %}
                        <select class="change_language selectpicker" name="language" id="language" title="选择语言">
                            <!--<option value="{{LANGUAGE_CODE}}">{{LANGUAGE_CODE}}</option>-->
                            {% for lang in LANGUAGES %}
                                <!--{% ifequal lang.0 current_language %} selected {% endifequal %}-->
                                <option value="{{ lang.0|lower }}" {% ifequal lang.0 LANGUAGE_CODE %} selected {% endifequal %}>
                                    {{ lang.1|lower }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                    <!--<div class="header-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-github"></a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</header>

<div class="portfolio-area bg2">
    <div class="container-fluid pdlr-150">
        <!--<div class="section-title">
            <h2>美食美味</h2>
            <p style="color:#000;">享美食更享艺术，美食即艺术。</p>
        </div>-->

        <div class="row">
            {% for item in index_plate_list %}
            <div class="col-md-3 animated {{item.animate_type.class_name}}">
                <div class="inner">
                    <div class="outer">
                        <div class="front">
                            <img src="/uploads/{{item.front_image}}" alt="{{item.title}}">
                            <div class="front-content">
                                <img src="/uploads/{{item.plate_image_url}}">
                                <hr>
                                <h2>{% trans item.title %}</h2>
                            </div>
                        </div>
                        <div class="back">
                            <img src="/uploads/{{item.back_image}}" alt="{{item.title}}">
                            <div class="back-content">
                                <img src="/uploads/{{item.plate_image_url}}">
                                <hr>
                                {% if item.is_redirect_sub_page %}
                                <h2><a href="{{item.sub_page_url}}">{% trans item.title %}</a></h2>
                                <a href="{{item.sub_page_url}}">
                                    <div>
                                        <span style="color:#fff;">{% trans item.descr|truncate_point:'50' %}</span>
                                    </div>
                                </a>
                                {% else %}
                                <h2>
                                    <a href="javascript:void(0);" class="video-play" data-image="/uploads/{{item.front_image}}"
                                       data-source="/uploads/{{item.video_source}}">{% trans item.title %}</a>
                                </h2>
                                <a href="javascript:void(0);" class="video-play" data-image="/uploads/{{item.front_image}}"
                                   data-source="/uploads/{{item.video_source}}">
                                    <div>
                                        <span style="color:#fff;">{% trans item.descr|truncate_point:'50' %}</span>
                                    </div>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include "footer.html" with footer="footer" %}
    {% block script_tag %}
    <script>
        $(function(){
            <!--alert("我是index.html的js");-->
            var rainNumber = {{ water_qty.amount }};
            var rainMsg = "";
            var myVideo = document.getElementById('video');
            myVideo.volume = 0.3;

            $('.video-box').height(window.innerHeight);
            $('#video').height(window.innerHeight);
            $(window).resize(function(){
                $('.video-box').height(window.innerHeight);
                $('#video').attr('height', window.innerHeight);
                $('#video').attr('width', window.innerWidth);
            });

            initTreeBox();


            //进入全屏播放器
            $(".video-play").on('click', function(){
                // alert($(this).attr('data-source'));
                // alert($(this).attr('data-image'));
                myVideo.poster = $(this).attr('data-image');
                myVideo.src = $(this).attr('data-source');
                myVideo.load();
                myVideo.oncanplay = function(){
                    if(myVideo.paused){
                        myVideo.currentTime = 0;
                        myVideo.play();
                    }
                };

                $('.video-box').removeClass('hidden zoomOut').addClass('zoomIn');
                // $('.container').addClass('hidden');
                // $('.container-fluid').addClass('hidden');
                // fullScreen();
            });

            //退出全屏播放器
            $('.full-video-close').on('click', function(){
                if(!myVideo.paused){
                    myVideo.pause();
                }

                $('.video-box').addClass('hidden zoomOut').removeClass('zoomIn');
                // $('.container').removeClass('hidden');
                // $('.container-fluid').removeClass('hidden');
                // exitFullScreen();
            });



            function initTreeBox(){
                if(rainNumber <= 200){
                    $('.watering-box-01').show();
                    $('.watering-box-02').hide();
                    $('.watering-box-03').hide();
                    $('.watering-box-04').hide();
                    $('.soil').show();
                }else if(rainNumber > 200 && rainNumber <= 400){
                    $('.watering-box-01').hide();
                    $('.watering-box-02').show();
                    $('.watering-box-03').hide();
                    $('.watering-box-04').hide();
                    $('.soil').show();
                }else if(rainNumber > 400 && rainNumber < 888){
                    $('.watering-box-01').hide();
                    $('.watering-box-02').hide();
                    $('.watering-box-03').show();
                    $('.watering-box-04').hide();
                    $('.soil').hide();
                }else if(rainNumber >= 888){
                    $('.watering-box-01').hide();
                    $('.watering-box-02').hide();
                    $('.watering-box-03').hide();
                    $('.watering-box-04').show();
                    $('.soil').hide();
                    $('.tree-04').click();
                }


                if(rainMsg != "") {
                    layer.msg(rainMsg, {
                        icon: 1,
                        zIndex: layer.zIndex + 10,
                        time: 2000,
                    }, function () {
                        rainMsg = "";
                    });
                }
            }

            // 浇水动作
            $('.water-btn').on('click', function(){
                /*var rain = Math.floor(Math.random()*10 + 1);
                rainNumber += rain;*/

                //提交浇水水量到后台保存
                $.ajax({
                    type: 'POST',
                    url: '{% url "add_watering_qty" %}',
                    data: {
                        amount: 0,
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                    },
                    dataType: 'json',
                    timeout: 3000,
                    success: function(data, textStatus){
                        if(data.code == 0) {
                            if(rainNumber <= 200) {
                                //01
                                $('.bottle-01').removeClass('hidden').addClass('bottle-fadeIn');
                                var rainTimeout = setTimeout(function(){
                                    $('.rain-01').removeClass('hidden').addClass('rain-fadeIn');
                                    clearTimeout(rainTimeout);
                                }, 500);
                                $('.tree-01').removeClass('tada');
                                $(".waternumber-01").html('+' + data.data.amount);
                                $(".waternumber-01").addClass('hidden').removeClass("waternumber-01-fadeIn")
                            }else if(rainNumber > 200 && rainNumber <= 400) {
                                //02
                                $('.bottle-02').removeClass('hidden').addClass('bottle-fadeIn');
                                var rainTimeout = setTimeout(function(){
                                    $('.rain-02').removeClass('hidden').addClass('rain-fadeIn');
                                    clearTimeout(rainTimeout);
                                }, 500);
                                $('.tree-02').removeClass('tada');
                                $(".waternumber-02").html('+' + data.data.amount);
                                $(".waternumber-02").addClass('hidden').removeClass("waternumber-02-fadeIn")
                            }else if(rainNumber > 400 && rainNumber < 888) {
                                //03
                                $('.bottle-03').removeClass('hidden').addClass('bottle-fadeIn');
                                var rainTimeout = setTimeout(function(){
                                    $('.rain-03').removeClass('hidden').addClass('rain-fadeIn');
                                    clearTimeout(rainTimeout);
                                }, 500);
                                $('.tree-03').removeClass('tada');
                                $(".waternumber-03").html('+' + data.data.amount);
                                $(".waternumber-03").addClass('hidden').removeClass("waternumber-03-fadeIn")
                            }else if(rainNumber >= 888) {
                                //04
                                $('.bottle-04').removeClass('hidden').addClass('bottle-fadeIn');
                                var rainTimeout = setTimeout(function(){
                                    $('.rain-04').removeClass('hidden').addClass('rain-fadeIn');
                                    clearTimeout(rainTimeout);
                                }, 500);
                                $('.tree-04').removeClass('tada');
                                $(".waternumber-04").html('+' + data.data.amount);
                                $(".waternumber-04").addClass('hidden').removeClass("waternumber-04-fadeIn")
                            }

                            rainNumber = data.data.end_amount;

                            rainMsg = data.msg;

                            /*layer.msg(data.msg, {
                                icon: 1,
                                zIndex: layer.zIndex + 10,
                                time: 2000,
                            }, function(){
                                //
                            });*/
                        }else{
                            layer.msg(data.msg, {
                                icon: 2,
                                zIndex: layer.zIndex + 10,
                                time: 3000,
                            }, function(){
                                //
                            });
                        }
                    },
                    error: function(xhr, textStatus, errorThrown){
                        console.log(textStatus + ">>" + errorThrown);
                        layer.msg(errorThrown, {
                            icon: 2,
                            zIndex: layer.zIndex + 10,
                            time: 3000,
                        }, function(){
                            //
                        });
                    },
                    complete: function(xhr, textStatus){
                    }
                });
            });

            //水壶动画结束触发
            //01
            $('.bottle-01').on('webkitAnimationEnd',function(){
                $(this).removeClass('bottle-fadeIn').addClass('zoomOut');
                var rainTimeout = setTimeout(function(){
                    $('.rain-01').removeClass('rain-fadeIn').addClass('hidden');

                    $('.tree-01').addClass('tada');
                    $('.waternumber-01').removeClass('hidden').addClass('waternumber-01-fadeIn');
                    clearTimeout(rainTimeout);
                }, 500);

            });

            //02
            $('.bottle-02').on('webkitAnimationEnd',function(){
                $(this).removeClass('bottle-fadeIn').addClass('zoomOut');
                var rainTimeout = setTimeout(function(){
                    $('.rain-02').removeClass('rain-fadeIn').addClass('zoomOut hidden');

                    $('.tree-02').addClass('tada');
                    $('.waternumber-02').removeClass('hidden').addClass('waternumber-02-fadeIn');
                    clearTimeout(rainTimeout);
                }, 500);
            });

            //03
            $('.bottle-03').on('webkitAnimationEnd',function(){
                $(this).removeClass('bottle-fadeIn').addClass('zoomOut');
                var rainTimeout = setTimeout(function(){
                    $('.rain-03').removeClass('rain-fadeIn').addClass('hidden');

                    $('.tree-03').addClass('tada');
                    $('.waternumber-03').removeClass('hidden').addClass('waternumber-03-fadeIn');
                    clearTimeout(rainTimeout);
                }, 500);
            });

            //04
            $('.bottle-04').on('webkitAnimationEnd',function(){
                $(this).removeClass('bottle-fadeIn').addClass('zoomOut');
                var rainTimeout = setTimeout(function(){
                    $('.rain-04').removeClass('rain-fadeIn').addClass('hidden');

                    $('.tree-04').addClass('tada');
                    $('.waternumber-04').removeClass('hidden').addClass('waternumber-04-fadeIn');
                    clearTimeout(rainTimeout);
                }, 500);
            });

            //水滴数量增加效果结束触发
            $(".waternumber-01").on("webkitAnimationEnd", function(){
                // $(".waternumber-01").removeClass("waternumber-01-fadeIn").addClass('zoomOut');
                initTreeBox();
            });
            $(".waternumber-02").on("webkitAnimationEnd", function(){
                // $(".waternumber-01").removeClass("waternumber-01-fadeIn").addClass('zoomOut');
                initTreeBox();
            });
            $(".waternumber-03").on("webkitAnimationEnd", function(){
                // $(".waternumber-01").removeClass("waternumber-01-fadeIn").addClass('zoomOut');
                initTreeBox();
            });
            $(".waternumber-04").on("webkitAnimationEnd", function(){
                // $(".waternumber-01").removeClass("waternumber-01-fadeIn").addClass('zoomOut');
                initTreeBox();
            });

            //苹果长成触发方法
            $('.tree-04').on('click', function(){
                top.layer.open({
                    type: 2,
                    title: "优惠券抢购",
                    area: ['500px', '330px'],
                    // area: ['25%', '35%'],
                    content: "/king/layer_coupon_form",
                    zIndex: layer.zIndex,
                    closeBtn: 1,
                    shadeClose: false,
			        shade: 0.75,
                    /*success: function(o, index){
                        // layer.close(index);
                        console.log('layer.open success');
                        return false;
                    },*/
                    /*btn: ['提交', '取消'],
                    yes: function (index, o){
                        var body = layer.getChildFrame('body', index);
                        console.log(body);
                        var iframeWin = window[o.find('iframe')[0]['name']];
                        console.log(iframeWin);
                        return;
                        console.log($('#myform').serialize());
                        $.ajax({
                            type: 'POST',
                            url: '/king/add_coupon',
                            data: $('#myform').serialize(),
                            dataType: 'json',
                            timeout: 3000,
                            success: function(data, textStatus){
                                /!*if(data.code == 0) {
                                    layer.msg('信息已提交', {
                                        icon: 1,
                                        zIndex: layer.zIndex + 10,
                                        time: 2000,
                                    }, function(){
                                        closeLayer();
                                    });
                                }else{
                                    layer.msg(data.msg, {
                                        icon: 2,
                                        zIndex: layer.zIndex + 10,
                                        time: 3000,
                                    }, function(){
                                        //
                                    });
                                }*!/
                            },
                            error: function(xhr, textStatus, errorThrown){
                                console.log(textStatus + ">>" + errorThrown);
                            },
                            complete: function(xhr, textStatus){
                            }
                        });

                        layer.msg('您的信息已提交，工作人员正在处理中，请稍后...');
                    },
                    btn2: function (index, o){
                        layer.close(0);
                    },
                    cancel: function (index, o) {
                        layer.close();
                    }*/
                });
            });

            //树动画结束触发
            /*$('.tree-01').on('webkitAnimationEnd',function(){
                $('.waternumber-01').removeClass('hidden').addClass('waternumber-01-fadeIn');
            });*/
        });

        //进入全屏
        function fullScreen(){
            var ele = document.documentElement;
            if(ele.requestFullscreen){
                ele.requestFullscreen();
            }else if(ele.mozRequestFullScreen){
                ele.mozRequestFullScreen();
            }else if(ele.webkitRequestFullScreen){
                ele.webkitRequestFullScreen();
            }
        }

        //退出全屏
        function exitFullScreen(){
            var de = document;
            if (de.exitFullscreen) {
                de.exitFullscreen();
            } else if (de.mozCancelFullScreen) {
                de.mozCancelFullScreen();
            } else if (de.webkitCancelFullScreen) {
                de.webkitCancelFullScreen();
            }
        }
    </script>
    {% endblock %}
{% endblock %}
