{% extends "layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block header %}
    {% include "header.html" with title="品牌合作" %}
    {% block style_tag %}
    <style>
    </style>
    {% endblock %}
{% endblock %}

{% comment %}{% block banner %}
<!--滚动切换图片-->
<div class="hero-slider">
    <div class="single-slide" style="background-image: url({% static 'images/banner_5.jpg' %})">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="slide-content">
                            <h2 class="banner-h2">
                                COOPERATION
                            </h2>
                            <h4 class="banner-h4">
                                <hr class="hr-1">
                                <span>品牌合作</span>
                                <hr class="hr-1">
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-slide" style="background-image: url({% static 'images/banner_6.jpg' %})">
        <div class="inner">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="slide-content">
                            <h2 class="banner-h2">
                                COOPERATION
                            </h2>
                            <h4 class="banner-h4">
                                <hr class="hr-1">
                                <span>品牌合作</span>
                                <hr class="hr-1">
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}{% endcomment %}

{% block content %}
<div class="faq-area-2 sp bg2">
    <div class="container">
        <div class="section-title">
            <h2>{% trans "品牌故事" %}</h2>
            <div class="section-title-bg">
                <div class="section-title-bg-box"></div>
            </div>
            <div class="sub-title">
                <hr class="hr-2">
                <span>BRAND STORY</span>
                <hr class="hr-2">
            </div>
        </div>
        <div class="row">
            {% if LANGUAGE_CODE =='en' %}
                <div class="col-md-12 bg6">
                    <div style="padding-top: 0;">
                        <div class="single-faq">
                            <h2><span>&nbsp;&nbsp;</span>{{ story.en_short_title }}</h2>
                            {{ story.en_short_content|safe }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 bg6">
                    <div style="padding-top: 0;">
                        <div class="single-faq">
                            <h2><span>&nbsp;&nbsp;</span>{{ story.en_long_title }}</h2>
                            {{ story.en_long_content|safe }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12 bg6">
                    <div style="padding-top: 0;">
                        <div class="single-faq">
                            <h2><span>&nbsp;&nbsp;</span>{{ story.short_title }}</h2>
                            {{ story.short_content|safe }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 bg6">
                    <div style="padding-top: 0;">
                        <div class="single-faq">
                            <h2><span>&nbsp;&nbsp;</span>{{ story.long_title }}</h2>
                            {{ story.long_content|safe }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include "footer.html" with footer="footer" %}
    {% block script_tag %}
    <script>
        $(function(){
        });
    </script>
    {% endblock %}
{% endblock %}
