{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'plugins/layui/css/layui.css' %}">
</head>
<body>
<div class="layui-container" style="margin-top: 20px;">
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
            <form id="myform" class="layui-form">
                {% csrf_token %}
                {% comment %}<div class="layui-form-item">
                    <label class="layui-form-label">{% trans "姓名：" %}</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" required lay-verify="required|username" placeholder="{% trans '请输入姓名' %}"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>{% endcomment %}
                <div class="layui-form-item">
                    <label class="layui-form-label">{% trans "手机号：" %}</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" required lay-verify="required|phone" placeholder="{% trans '请输入手机号' %}"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">{% trans "中奖提示" %}：</label>
                    <div class="layui-input-block">
                        <div>
                            <b>{% trans "恭喜您获得价值30元购物抵用券一张，凭券您可以到秦食皇品牌展示中心领取伴手礼一份或线上商城购物时抵用" %}</b>
                        </div>
                        <div>
                            <b>{% trans "您购物时向销售人员或客服出示手机号码即可使用实物抵用券，线上购物需用此手机号码拨打秦食皇客服电话确认使用抵用券" %}</b>
                        </div>
                    </div>
                </div>
                {% comment %}<div class="layui-form-item">
                    <label class="layui-form-label">{% trans "邮箱：" %}</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" lay-verify="email" placeholder="{% trans '请输入邮箱' %}"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">生日：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" id="birthday" name="birthday" placeholder="请选择生日">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">{% trans "性别：" %}</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="男" title="{% trans '男' %}" checked>
                        <input type="radio" name="sex" value="女" title="{% trans '女' %}">
                        <input type="radio" name="sex" value="保密" title="{% trans '保密' %}">
                    </div>
                </div>{% endcomment %}
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" id="btnSave" class="layui-btn" lay-submit lay-filter="go">{% trans "提交" %}</button>
                        <button type="button" id="btnCancel" name="btnCancel" class="layui-btn layui-btn-primary">{% trans "取消" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'plugins/jquery/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'plugins/layui/layui.all.js' %}"></script>
<script>
    $(function () {
        var laydate = layui.laydate;
        laydate.render({
            elem:'#birthday'
        });

        layui.use(['form', 'laydate', 'jquery'], function(){
            var form = layui.form;

            form.verify({
                username: function(value, item){
                    if(value.length >= 50){
                        return '{% trans "超过最大长度！" %}';
                    }
                },
                phone: [/^(((13[0-9]{1})|(14[0-9]{1})|(17[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/, '{% trans "请输入正确手机号！" %}'],
                // email: function(value, item){
                //     //
                // },
                // password: [/^[\S]{6, 20}$/]  //'密码必须6到20位，且不能出现空格'
            });

            //监听提交
            form.on('submit(go)', function(e){
                $.ajax({
                    type: 'POST',
                    url: '{% url "add_coupon" %}',
                    data: $('#myform').serialize(),
                    dataType: 'json',
                    timeout: 3000,
                    success: function(data, textStatus){
                        if(data.code == 0) {
                            layer.msg('{% trans "信息已提交" %}', {
                                icon: 1,
                                zIndex: layer.zIndex + 10,
                                time: 2000,
                            }, function(){
                                closeLayer();
                                parent.location.reload();
                            });
                        }else{
                            layer.msg(data.msg, {
                                icon: 2,
                                zIndex: layer.zIndex + 10,
                                time: 3000,
                            }, function(){
                                //
                            });
                        }

                        return false;
                    },
                    error: function(xhr, textStatus, errorThrown){
                        console.log(textStatus + ">>" + errorThrown);
                    },
                    complete: function(xhr, textStatus){

                    }
                });

                return false;  // 这里很重要，一定要加这个。要不然提交后弹出层会刷新一次，从而不执行ajax的success
            });
        });

        // $('#btnSave').on('click', function(){
        // });

        $('#btnCancel').on('click', function(){
            closeLayer();
        });

        function closeLayer(){
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }
    });
</script>
</body>
</html>