{% extends "layout.html" %}
{% load staticfiles %}
{% load my_filter_tag %}
{% load i18n %}

{% block header %}
    {% include "header.html" with title="新闻资讯详情" %}
    {% block style_tag %}
    <style>
    </style>
    {% endblock %}
{% endblock %}

{% comment %}{% block banner %}
<!--滚动切换图片-->
<div class="hero-slider">
    <div class="single-slide" style="background-image: url({% static 'images/banner_6.jpg' %})">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="slide-content">
                            <h2 class="banner-h2">
                                NEWS
                            </h2>
                            <h4 class="banner-h4">
                                <hr class="hr-1">
                                <span>新闻资讯</span>
                                <hr class="hr-1">
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-slide" style="background-image: url({% static 'images/banner_7.jpg' %})">
        <div class="inner">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="slide-content">
                            <h2 class="banner-h2">
                                NEWS
                            </h2>
                            <h4 class="banner-h4">
                                <hr class="hr-1">
                                <span>新闻资讯</span>
                                <hr class="hr-1">
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}{% endcomment %}

{% block content %}
<div class="faq-area-2 sp bg2">
    <div class="container">
        <div class="row" style="background-color: #99cc67;">
            <div class="col-md-9">
                <div class="single-faq">
                    <h2><span>1</span>{{ news.title|truncate_point:'30' }}</h2>
                    <div>
                        <span class="icon">
                            <i class="glyphicon glyphicon-time"></i>
                        </span>
                        <span>{% trans "时间" %}：{{ news.create_time }}</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="icon">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </span>
                        <span>{% trans "浏览" %}：{{ news.read_count }}</span>
                    </div>
                    <hr style="border-top: 1px solid #fbdf50;">
                    <div>{{ news.content|safe }}</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="faq-sidebar-wrap" style="margin-top: 30px;">
                    <h3>{% trans "最新资讯" %}</h3>
                    {% for item in news_lasted %}
                    <div class="product-commend about-img">
                        <a href="/king/news_detail/{{item.id}}?banner={{ banner }}">
                            <img src="/uploads/{{ item.cover_image_url }}" alt="{{item.title}}" title="{{item.title}}">
                        </a>
                        <div class="product-commend-title">{{item.title|truncate_point:'14'}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include "footer.html" with footer="footer" %}
    {% block script_tag %}
    <script>
        $(function(){
        });
    </script>
    {% endblock %}
{% endblock %}
